@import 'tailwindcss';

@layer components {
}

@layer utilities {
  .contact-form-box {
    display: flex;
    width: 704px;
    padding: 5rem 6.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.625rem;
    background: #fff;
  }

  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
  }

  .faq-section-content-container {
    display: flex;
    width: 1224px;
    padding: 1.25rem 0px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .faq-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }

  .faq-dropdown {
    display: flex;
    width: 600px;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: flex-start;
  }

  .faq-text-container {
    display: flex;
    flex-direction: column;
  }

  .faq-q-container {
    height: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .faq-q-inner {
    width: 550px;
    text-align: start;
  }

  .faq-a-container {
    overflow: hidden;
    transition: height 0.1s ease;
    display: flex;
    text-align: start;
  }

  .faq-a-inner {
    padding-top: 0.5rem;
    width: 550px;
  }
}
