@import 'tailwindcss';

@media (max-width: 768px) {
  .dropdown-wrapper .dropdown-items-container {
    display: none;
  }

  .dropdown-wrapper.active .dropdown-items-container {
    display: block;
    transform: translateX(-23px) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-visible {
    display: block;
    transform: translateX(-23px) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .dropdown-wrapper:hover .dropdown-items-container {
    transform: translateX(-23px) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@layer utilities {
  .navbar-container {
    display: flex;
    padding: 18px 108px;
    justify-content: center;
    align-items: center;
  }

  .navbar-content-container {
    display: flex;
    max-width: 1224px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }

  .links-container {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 31px;
    margin-top: 31px;
  }

  .dropdown-container {
    display: flex;
    width: 125px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 2px;
    cursor: default;
  }

  .dropdown-items-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 210px;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(243, 1, 1, 0.1);
    top: 100%;
    transform: translateX(-23px) translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
  }

  .dropdown-wrapper:hover .dropdown-items-container {
    transform: translateX(-23px) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .dropdown-item {
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: #fff;
  }

  .dropdown-item:hover {
    background: var(--hover-color);
  }

  .links {
    display: inline-block;
    position: relative;
    color: inherit;
  }

  .links:hover,
  .dropdown-wrapper:hover .links,
  .dropdown-wrapper.active .links {
    color: #b1574a;
  }

  .links::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #b1574a;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
  }

  .links:hover::after,
  .dropdown-wrapper:hover .links::after,
  .dropdown-wrapper.active .links::after {
    transform: scaleX(1);
  }
}
