@import 'tailwindcss';

@media (max-width: 768px) {
  .nav-dropdown-wrapper .nav-dropdown-items-container {
    display: none;
  }

  .nav-dropdown-wrapper.active .nav-dropdown-items-container {
    display: block;
    transform: translateX(1.4375rem) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-visible {
    display: block;
    transform: translateX(1.4375rem) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-dropdown-wrapper:hover .nav-dropdown-items-container {
    transform: translateX(1.4375rem) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@layer utilities {
  .navbar-container {
    display: flex;
    padding: 1.125rem 6.75rem;
    justify-content: center;
    align-items: center;
  }

  .navbar-content-container {
    display: flex;
    max-width: 1224px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }

  .links-container {
    display: flex;
    height: 3.125rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

  .nav-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1.9375rem;
    margin-top: 1.9375rem;
  }

  .nav-dropdown-container {
    display: flex;
    width: 7.8125rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 0.125rem;
    cursor: default;
  }

  .nav-dropdown-items-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 210px;
    padding: 0.625rem 0;
    border-radius: 0 0 0.625rem 0.625rem;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(243, 1, 1, 0.1);
    top: 100%;
    transform: translateX(1.4375rem) translateY(-0.625rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
  }

  .nav-dropdown-wrapper:hover .nav-dropdown-items-container {
    transform: translateX(1.4375rem) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-dropdown-item {
    display: flex;
    padding: 0.625rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    background: #fff;
  }

  .nav-dropdown-item:hover {
    background: var(--hover-color);
  }
}
