@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-color: #d9764e;
  --Primary-Coral: #dd6d5c;
  --hover-color: #f4a488;
  --Soft-Coral: #ffece4;
  --Secondary-Coral: #b1574a;
  --Coral-3: #a04e43;
  --Coral-4: #8e463b;
  --C7: #49241e;
  --Primary-Neutral: #2f2f2f;
  --Secondary-Neutral: #6b6461;
  --button-color: linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
  --Primary-2: #3c3c3c;
  --Field-line: rgba(47, 47, 47, 0.3);
  --secondary-text-color: #6b6461;
  --cards-color: #f6e7e1;
  --background: #ffffff;
  --danger-color: #da1e28;
  --focus-highlight: #66afe9;
  --focus-box-shadow: 0px 0px 6px 0px rgba(56, 167, 255, 0.8);
  --Dark-Gradient: #ffdfd1;
  --Light-Gradient: linear-gradient(
    180deg,
    var(--Soft-Coral, #ffece4) 0%,
    #ffd1be 100%
  );
}

select,
option {
  /* font-family: 'Figtree', 'Comic Sans MS'; */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--Primary-Neutral);
  line-height: 1.15;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@layer components {
  .flag {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 10px;
    background: var(--Primary-Coral);
    color: var(--background);
  }

  .required {
    color: var(--primary-color);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .filled-btn {
    display: flex;
    height: 50px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background: var(--button-color);
    cursor: pointer;
  }

  .filled-btn:hover,
  .continue-btn:hover {
    border: 1px solid #d9764e;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
    cursor: pointer;
  }

  .filled-btn:disabled,
  .continue-btn:disabled {
    border: 1px solid #d9764e;
    opacity: 0.7;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
    cursor: not-allowed;
  }

  .popup-container {
    display: flex;
    padding: 30px 48px 48px 48px;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    border-radius: 10px;
    background: #f6e7e1;
  }

  .input-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }

  .input-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    min-width: 0;
  }

  .input-field {
    display: flex;
    height: 44px;
    padding: 8px 12px;
    align-items: center;
    gap: 4px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--Field-line);
    overflow: hidden;
    color: var(--Primary-Neutral);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
    transition: border 0.15s ease, box-shadow 0.15s ease;
  }

  .input-field:focus {
    box-shadow: var(--focus-box-shadow);
    border-color: var(--focus-highlight);
    outline: none;
  }

  .input-field.show-invalid {
    color: var(--danger-color);
    border-color: var(--danger-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02),
      0 0 0 1px var(--danger-color);
  }

  .input-field.show-invalid:focus {
    box-shadow: var(--focus-box-shadow);
    border-color: var(--focus-highlight);
    outline: none;
  }

  .form-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .checkbox-container {
    display: flex;
    height: 28px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
  }

  .checkbox {
    position: absolute;
    width: 26px;
    height: 26px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
  }

  .continue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .continue-btn {
    display: flex;
    width: 234px;
    height: 50px;
    min-width: 184px;
    max-width: 234px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: var(--background);
    border: 1px solid #d9764e;
    background: linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
    -webkit-text-fill-color: var(--background);
    background-clip: border-box;
    -webkit-background-clip: border-box;
  }

  .error-text {
    color: var(--danger-color);
    align-self: flex-start;
    justify-self: center;
    font-size: 14px;
    margin-top: 0.25rem;
  }

  .error-text-container {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
  }

  .error-text-container.transition {
    max-height: 30px;
    opacity: 1;
  }

  .link-btn {
    display: inline-flex;
    height: 50px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  .link-btn-text,
  .links {
    position: relative;
    display: inline-block;
    color: inherit;
    transition: transform 0.2s ease;
  }

  .links-btn-text {
    color: #b1574a;
  }

  .link-btn-text::after,
  .links::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #b1574a;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .link-btn:hover .link-btn-text,
  .links:hover,
  .dropdown-wrapper:hover .links,
  .dropdown-wrapper.active .links {
    transform: scale(1.02);
  }

  .links:hover,
  .dropdown-wrapper:hover .links,
  .dropdown-wrapper.active .links {
    color: #b1574a;
  }

  .link-btn:hover .link-btn-text::after,
  .links:hover::after,
  .dropdown-wrapper:hover .links::after,
  .dropdown-wrapper.active .links::after {
    opacity: 1;
  }
}

@layer utilities {
  .p0 {
    color: var(--Secondary-Coral);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  .p1 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }

  .p2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }

  .p3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }

  .p4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .p4 .normal {
    font-weight: 400;
    line-height: normal;
  }

  .faq-q {
    overflow: hidden;
    color: var(--Primary-Neutral);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
  }

  .faq-a {
    color: var(--Secondary-Neutral, #6b6461);
    /* FAQ A */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }

  .p5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .p5.bolded {
    font-weight: 700;
  }

  .p6 {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .p6.thin {
    font-weight: 400;
  }

  .btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .coral-4 {
    color: var(--Coral-4);
  }

  .sec-coral {
    color: var(--Secondary-Coral);
  }

  .p-neutral {
    color: var(--Primary-Neutral);
  }

  .p-color {
    color: var(--primary-color);
  }

  .coral-3 {
    color: var(--Coral-3);
  }

  .background-color {
    color: var(--background);
  }

  .c7 {
    color: var(--C7);
  }

  .p-coral {
    color: var(--Primary-Coral);
  }

  .s-neutral {
    color: var(--Secondary-Neutral);
  }

  .primary-2 {
    color: var(--Primary-2);
  }

  .bg-soft-coral {
    background-color: var(--Soft-Coral);
  }
}
