@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-color: #d9764e;
  --Primary-Coral: #dd6d5c;
  --hover-color: #f4a488;
  --Soft-Coral: #ffece4;
  --Secondary-Coral: #b1574a;
  --Primary-Neutral: #2f2f2f;
  --Secondary-Neutral: #6b6461;
  --button-color: linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
  --primary-text-color: #2f2f2f;
  --Field-line: rgba(47, 47, 47, 0.3);
  --secondary-text-color: #6b6461;
  --cards-color: #f6e7e1;
  --background: #ffffff;
}

select,
option {
  font-family: 'Figtree', 'Comic Sans MS';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--primary-text-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@layer components {
  .flag {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 10px;
    background: var(--Primary-Coral);
    color: var(--background);
  }

  .required {
    color: var(--primary-color);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

@layer utilities {
  .p3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
  }

  .btn {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
