@import 'tailwindcss';

@layer utilities {
  .top-footer-container {
    display: flex;
    padding: 64px 0px;
    color: #fff;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
    width: 100%;
  }

  .top-footer-content-container {
    display: flex;
    width: 1224px;
    justify-content: space-between;
    align-items: center;
  }

  .top-footer-left-container {
    display: flex;
    width: 510px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
  }

  .top-footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .top-footer-right-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  .top-footer-connect {
    display: flex;
    width: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .top-footer-connect-logos {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }

  .top-footer-get-involved {
    display: flex;
    width: 184px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .top-footer-learn-more {
    display: flex;
    width: 184px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .bot-footer-container {
    color: #fff;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: #dd6d5b;
  }

  .bot-footer-content-container {
    display: flex;
    background: #dd6d5b;
    width: 1224px;
    justify-content: space-between;
    align-items: center;
  }

  .bot-footer-right-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .footer-line {
    width: 1224px;
    height: 1px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    background: var(--Soft-Coral);
  }
}
