@import 'tailwindcss';

@layer components {
  .hollow-btn {
    display: flex;
    height: 3.125rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    cursor: pointer;
  }

  .hollow-btn:hover {
    border: 1px solid var(--Gradient, #d9764e);
    background: linear-gradient(180deg, #d9764e 0%, #dd6d5c 100%);
  }
}

@layer utilites {
  .main-section {
    display: flex;
    min-height: 500px;
    padding: 3.875rem 0px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      var(--bg-image);
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: center top, center top;
    color: #fff;
  }

  .main-section-wrapper {
    display: flex;
    width: 1224px;
    justify-content: flex-start;
    align-items: center;
  }

  .main-section-content {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  .p-section {
    display: flex;
    padding: 2.5rem 17.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .p-section-content {
    display: flex;
    width: 890px;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .divider-section {
    display: flex;
    padding: 1.25rem 17.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .two-col-section {
    display: flex;
    padding: 2.5rem 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    align-self: stretch;
  }

  .two-col-section-content {
    display: flex;
    width: 1224px;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .two-col-section-img {
    width: 50%;
    height: 100%;
    border-radius: 150px 0px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      var(--bg-image) lightgray 50%;
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: center top, center top;
  }

  .two-col-section-text-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .two-col-section-subtitle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .link-button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 2.5rem;
  }

  .three-col-section,
  .faq-section {
    display: flex;
    padding: 2.5rem 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .three-col-section-content {
    display: flex;
    width: 1224px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .three-col-section-p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 890px;
  }

  .three-col-section-hover-cards-container {
    display: flex;
    height: 438px;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }

  .three-col-section-hover-card {
    display: flex;
    padding: 3.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.1875rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.625rem;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.45) 100%
      ),
      var(--bg-image) lightgray -142.448px -6.745px / 172.678% 103.08% no-repeat;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s all ease-in-out;
  }

  .three-col-section-hover-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--Light-Gradient);
    z-index: 1;
    opacity: 0;
    transition: 0.3s all;
    border-radius: 0.625rem;
  }

  .three-col-section-hover-card .hover-text {
    position: absolute;
    color: #2c2c2c;
    z-index: 2;
    opacity: 0;
    transition: 0.3s all;
  }

  .three-col-section-hover-card:hover .hover-text {
    opacity: 1;
  }

  .three-col-section-hover-card:hover::before {
    opacity: 1;
  }

  .three-col-section-boxes-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    align-self: stretch;
    position: relative;
  }

  .three-col-section-link-box-wrapper {
    display: flex;
    width: 24.5rem;
    padding: 1.25rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1px solid #efefef;
    background: #fff;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.04);
  }

  .three-col-section-link-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    text-align: center;
  }

  .three-col-section-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .three-col-section-link-wrapper {
    display: flex;
    height: 3.125rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  .three-col-section-box-wrapper {
    display: flex;
    width: 24.5rem;
    height: 220px;
    flex-direction: column;
    align-items: center;
  }

  .three-col-section-box {
    display: flex;
    padding: 2.5rem 1.875rem 1.875rem 1.875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    position: relative;
    top: 1.875rem;
  }

  .three-col-section-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    text-align: center;
  }

  .three-col-section-box-content-no-border {
    display: flex;
    padding: 1.875rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  .last-section {
    display: flex;
    padding: 2.5rem 6.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--Light-Gradient);
  }

  .last-section-content {
    display: flex;
    width: 1224px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .picture-section {
    display: flex;
    height: 350px;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      var(--bg-image);
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: center top, center top;
  }

  .picture-section-blank {
    flex-grow: 1;
  }

  .picture-section-curve {
    display: block;
    height: auto;
    position: relative;
  }

  .four-col-section {
    display: flex;
    padding: 2.5rem 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .four-col-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 1224px;
  }

  .four-col-section-desc {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .four-col-section-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }

  .four-col-section-icon {
    display: flex;
    padding: 0px 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
  }

  .popup-bg {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .popup-container {
    display: flex;
    width: 1024px;
    padding: 1.875rem 3rem 3rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 0.625rem;
    background: #f6e7e1;
    color: var(--Primary-Neutral);
  }

  .popup-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .popup-content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
  }

  .popup-image-wrapper {
    display: flex;
    width: 299px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .popup-contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
  }

  .popup-contact {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }

  .popup-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 1 0 0;
    align-self: stretch;
  }
}
